{% extends 'base.html' %}

{% block title %}Event - {{ event.event_name }}{% endblock %}

{% block content %}

<div class="container py-5">
	<div class="text-center pb-4">
		<h1>{{ event.event_name }}</h1>
	</div>
	<img src="{{ event.image.url }}" class="img-fluid" style="max-width:200px; max-height:150px;" />
	<p>ADDDED BY: {{ event.user.charity_name }}</p>
	<p>DESCRIPTION: {{ event.event_description }}</p>
	<p>DATE: {{ event.event_date }}</p>
	<p>EVENT URL: {{ event.event_url }}</p>
</div>

{% endblock %}