{% extends 'base.html' %}

{% block title %}Enter new password{% endblock %}

{% block content %}

<div class="container py-5">

{% if validlink %}

	<div class="text-center pb-4">
		<h2 class="font-weight-bold">Set a new password!</h2>
	</div>
	<form method="POST">
  		{% csrf_token %}
  		{{ form.as_p }}
  		<input class="btn btn-success" type="submit" value="Change my password">
	</form>

{% else %}

<p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>

{% endif %}

</div>
{% endblock %}