{% extends 'base.html' %}

{% block title %}Forgot Your Password?{% endblock %}

{% block content %}
<div class="container py-5">
  	<div class="text-center">
  		<h2 class="font-weight-bold">Forgot your password?</h2>
  	</div>
  	
  	<p>Enter your email address associated with your account below, and we'll email instructions for setting a new one.</p>
  	<p>If you don't receive an email, check your email address or check your spam folder.</p>

  	<form method="POST">
    	{% csrf_token %}
    	{{ form.as_p }}
    	<input type="submit" value="Send me instructions!">
  	</form>
</div>
{% endblock %}