{% extends 'base.html' %}

{% block title %}Edit Profile{% endblock %}

{% block content %}

<div class="container py-4">
	<h2 class="font-weight-bold">Update your account settings</h2>

	<p>If you wish to change your password, click <a href="{% url 'password_reset' %}">here</a></p>

	{% if user.is_authenticated %}
	<form method="post" enctype="multipart/form-data">
		{{ form.non_field_errors }}
	  	{% csrf_token %}
	  	{{ form.as_p }}
	  <button class="btn btn-success" type="submit">Update Profile</button>
	</form>
</div>
{% endif %}

{% endblock %}