{% extends "base.html" %}
{% load static wagtailcore_tags %}

{% block body_class %}{% endblock %}

{% block title %}Search Events{% endblock %}

{% block content %}
    <div class="container py-5">

        <div class="text-center pb-4">
            <h2 class="font-weight-bold">Search Events</h2>
        </div>

        <div class="text-center">
            <form action="{% url 'search_events' %}" method="get">
                <input type="text" name="query"{% if search_query %} value="{{ search_query }}"{% endif %}>
                <input type="submit" value="Search" class="button">
            </form>
        </div>

        <div class="pt-5 px-4">
        {% if events %}

            {% for event in events %}
                <div class="mb-3">
                    <h3 class="font-weight-bold pb-4"><a href="{{ event.get_absolute_url }}">{{ event.event_name}}</a></h3>
                    <p>
                        {{ event.event_description }}
                    </p>
                    <hr>
                </div>
            {% endfor %}

            {% if display_pagination %}

                <ul class="pagination">

                    {% if events.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="{% url 'search_events' %}?query={{ search_query|urlencode }}&amp;page={{ events.previous_page_number }}">
                                Previous
                            </a>
                        </li>
                    {% endif %}

                    {% for i in events.paginator.page_range %}

                        {% if i == page %}
                            <li class="page-item">
                                <a class="page-link">
                                    {{ i }}
                                </a>
                            </li>
                        {% else %}
                            <li class="page-item">
                                <a class="page-link" href="{% url 'search_events' %}?query={{ search_query|urlencode }}&amp;page={{ i }}">
                                    {{ i }}
                                </a>
                            </li>
                        {% endif %}

                    {% endfor %}

                    {% if events.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="{% url 'search_events' %}?query={{ search_query|urlencode }}&amp;page={{ events.next_page_number }}">Next</a>
                        </li>
                    {% endif %}

                </ul>

            {% endif %}

        {% elif search_query %}
            <div class="text-center">
                <p>No results found.</p>
            </div>
        {% endif %}

        </div>

    </div>

{% endblock %}